<!--<ba-card title="Leaflet Maps">-->
  <!--<div class="leaflet-maps"></div>-->
<!--</ba-card>-->
<!--<iframe src="http://www.multidom.net/test_sixers/" width=100% height=100% frameborder=0></iframe>-->
<!--<iframe src="https://www.reddit.com/r/duelyst/" width=100% height=100% frameborder=0></iframe>-->
<!--<iframe width="100%" height="300" [src]="https://www.w3schools.com | safe"></iframe>-->

<ba-card title="">
    <iframe src="http://www.multidom.net/test_sixers/" width="100%" height="600px" frameborder="0"></iframe>
</ba-card>
